* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app-title {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

#station-name {
  padding: 8px 8px 8px 12px;
  font-size: 1.1em;
}

.station-name {
  color: #00585F;
  text-align: left;
}

.right-arrow {
  float: right;
}

.station-header {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  background-color: #000;
  color: #FFF;
  padding: 3px 0 3px 0;
}

button.button.back-button.buttons.back-button.button-clear.header-item {
  color: #FFF;
  font-family: 'Josefin Sans', sans-serif;
}

.current-station {
  padding: 8px 0 4px 0;
  text-align: center;
  font-size: 1.3em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

.train-icon {
  padding: 0 10px 0 4px;
  font-size: 24px;
  /*position: absolute;*/
}

#train-item {
  padding: 4px 0 4px 12px;
}
.destination {
  margin-top: 15px;
  font-size: 1.2em;
}

.train-color-bar {
  margin-left: 8px;
}
