<ion-view view-title="BARTly">
  <ion-nav-bar class="station-header">
  <div>
    <p>BARTly</p>
    <p>Select Your Station</p>
  </div>
  </ion-nav-bar>

  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadStationList()">

    </ion-refresher>
    <div class="station-container">
        <div class="station-body">
          <ion-list>
            <ion-item id="station-name" ng-repeat="station in stations">
            <div ng-click="setCurrentStation(station)">
              <a class="station-name">{{station.name}} </a>
              <a class="right-arrow icon ion-chevron-right"></a>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </div> <!-- /station-container -->

  </ion-content>
</ion-view>
 